@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Liter&display=swap');

html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Cantata', sans-serif, Arial, Helvetica !important;
  scroll-behavior: smooth;
}

* {
  font-family: 'Cantata', sans-serif, Arial, Helvetica !important;
}


.slide-arrow h1 {
  transition: 0.2s ease-in;
  transform: translateY(1px);
}

.slide-arrow{
  transition: 0.5s cubic-bezier(0.1, 0.32, 0.72, 2.06);
}

.slide-arrow:hover {
  transform: scale(1.015);
}

.slide-arrow:hover h1{
  transform: translateX(15px);
}

/* src/index.css or src/styles.css */
:root {
  --color-dark: #063d2c;
  --color-main: #0B6623;
  --color-light: #4CBA83;
  --color-third: #8B9EB7;
  --color-bright: #F7F7F2;
}

/* src/index.css or src/styles.css */
@layer base {
  .bg-dark {
    background-color: var(--color-dark);
  }
  .bg-main {
    background-color: var(--color-main);
  }
  .bg-light {
    background-color: var(--color-light);
  }
  .bg-third {
    background-color: var(--color-third);
  }
  .bg-bright {
    background-color: var(--color-bright);
  }

  .text-dark {
    color: var(--color-dark);
  }
  .text-main {
    color: var(--color-main);
  }
  .text-light {
    color: var(--color-light);
  }
  .text-third {
    color: var(--color-third);
  }
  .text-bright {
    color: var(--color-bright);
  }
  .bg-gradient-main-to-light {
    background: linear-gradient(to right, var(--color-main), var(--color-light));
  }
  .bg-gradient-dark-to-main {
    background: linear-gradient(135deg, var(--color-dark) -30%, var(--color-main) 10%, var(--color-dark) 120%);
  }
  .bg-gradient-light-to-bright {
    background: linear-gradient(to right, var(--color-light), var(--color-bright));
  }
  .bg-gradient-third-to-dark {
    background: linear-gradient(to right, var(--color-third), var(--color-dark));
  }
}

.navbarB{
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 1px;
  color: black;
}

.navbarB:hover{
  background: rgba(127, 248, 155, 0.6);
  color: black;
}

nav{
  box-shadow: 0px 1px 10px 1px black;
  z-index: 10;
  position: relative;
}
