html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Noto Serif Hentaigana';
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@200..900&display=swap');

.slide-arrow h1 {
  transition: 0.2s ease-in;
  transform: translateY(1px);
}

.slide-arrow{
  transition: 4s cubic-bezier(0.1, 0.32, 0.72, 2.06);
}

.slide-arrow:hover {
  transform: scale(1.01);
}

.slide-arrow:hover h1{
  transform: translateX(15px);
}

/* src/index.css or src/styles.css */
:root {
  --color-dark: #3f6b5d;
  --color-main: #037F60;
  --color-light: #4CBA83;
  --color-third: #8B9EB7;
  --color-bright: #F7F7F2;
}

/* src/index.css or src/styles.css */
@layer base {
  .bg-dark {
    background-color: var(--color-dark);
  }
  .bg-main {
    background-color: var(--color-main);
  }
  .bg-light {
    background-color: var(--color-light);
  }
  .bg-third {
    background-color: var(--color-third);
  }
  .bg-bright {
    background-color: var(--color-bright);
  }

  .text-dark {
    color: var(--color-dark);
  }
  .text-main {
    color: var(--color-main);
  }
  .text-light {
    color: var(--color-light);
  }
  .text-third {
    color: var(--color-third);
  }
  .text-bright {
    color: var(--color-bright);
  }
  .bg-gradient-main-to-light {
    background: linear-gradient(to right, var(--color-main), var(--color-light));
  }
  .bg-gradient-dark-to-main {
    background: linear-gradient(135deg, var(--color-dark) -30%, var(--color-main) 10%, var(--color-dark) 120%);
  }
  .bg-gradient-light-to-bright {
    background: linear-gradient(to right, var(--color-light), var(--color-bright));
  }
  .bg-gradient-third-to-dark {
    background: linear-gradient(to right, var(--color-third), var(--color-dark));
  }
}


